body {
	margin: 0;
	padding: 0;
	background: #111;
	font-family: Arial, sans-serif;
	color: #eee;
	text-align: center;

}

header {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

html {
    scroll-behavior: smooth;
}

h1 {
  text-decoration: underline;
  color: #00aaff;
}

h2 {
	text-decoration: underline;
	color: #00aaff;
}

p {
  font-family: verdana;
  font-size: 16px;
}